body{
	font-family: Arial;
}
.btn{
	display: block;
	max-width: 300px;
	margin: auto;
	padding: 1.5em;
	background: white;
	border-radius: 1em;
	border:1px black solid;
	margin-bottom:0.2em;
	text-decoration: none;
	text-align: center;
	font-size: 1.25em;
}

.btnG{
	max-width: 400px;	
}

.title{
	display: inline-block;
	
	font-size: 48px;
}

h1{

	text-align: center;
	font-size: 36px;
}

nav{
	display: flex;
	align-items: center;
}

nav a,
nav div{
	flex:1;
}

nav div{
	text-align: center;
}

#ayuda{
	/*text-align: right;*/
}
#casa{
	/*text-align: left;*/
}

.links{
	width: 80%;
	margin: auto;
	text-align: center;
}

.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	/*text-align:center;*/

}

